
.tetris-container {
    border: solid 2px black;
    display: grid;
    justify-content: center;
    align-content: center;
}
.stock-canvas {
    border: solid 2px red;
    
}
.large-canvas {
    border: solid 2px white;
}